/* App.css */
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/card.jpg'); /* Путь к изображению с текстурой карт */
  background-size: cover; /* Покрыть весь фон */
  background-repeat: no-repeat; /* Запретить повторение */
  background-position: center; /* Центрирование фона */
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0; /* Убрать внешние отступы */
}

.container {
  text-align: center;
  margin-bottom: 20px;
  flex: 1;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для контейнера */
  border-radius: 10px;
}
.container2 {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для контейнера */
  border-radius: 10px;
  margin-left: 40px;
}
.card {
  width: 100px;
  height: 140px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.buttons {
  margin-top: 20px;
}

#betAmount {
  margin-top: 20px;
}

#history {
  max-width: 600px;
  margin: 20px auto;
}

canvas {
  max-width: 100%;
  height: 200px; /* Уменьшена высота графиков */
  margin-bottom: 20px; /* Отступ между графиками */
}

.chart-section {
  padding-left: 140px; /* Отступ для диаграммы */
}
